* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.food-about,
.food-menu,
.food-contact {
  padding: 80px 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

h2 {
  margin-bottom: 70px;
  text-transform: uppercase;
  font-size: 35px;
  color: #333;
}

h3 {
  color: #444;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

h4 {
  color: #444;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  font-size: 20px;
  font-weight: 400;
  color: #be2edd;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.brand {
  font-family: "Merienda";
}

.mb-auto {
  margin-bottom: auto;
}

.text-center {
  text-align: center;
}

.margin-top {
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-both {
  margin: 30px 0;
}

.rounded {
  border-radius: 4px;
}

.color-primary {
  color: #be2edd;
}

.color-secondary {
  color: #555;
}

.color-white {
  color: #fff;
}

.line-space {
  line-height: 40px;
}

.list-inline {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.list-inline li {
  margin-right: 20px;
}

.line-space {
  line-height: 40px;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.social-icons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #be2edd;
  margin-right: 20px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.social-icons li:hover {
  background-color: #fff;
  color: #be2edd;
}

.food-header {
  width: 100%;
  height: 600px;
  background-image: url("../images/header.png");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.banner-head {
  font-family: "Merienda", cursive;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
}

.banner-subhead {
  font-size: 20px;
  color: #fff;
  letter-spacing: 6px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav ul a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 20px;
}

.main-nav ul a.active {
  color: #be2edd;
}

figure {
  position: relative;
  width: 310px;
  height: 310px;
}

figure img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

figure .back {
  position: absolute;
  top: 40px;
  left: -40px;
  width: 100%;
  height: 100%;
  background-color: #be2edd;
  z-index: -1;
}

.food-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #be2edd;
  color: #fff;
  border-radius: 50%;
}

.food-icon i {
  font-size: 40px;
  margin: auto;
}

.food-offer {
  width: 100%;
  height: 500px;
  background-image: url("../images/offer.png");
  color: #fff;
}

.food-offer-head {
  font-weight: 600;
  font-size: 50px;
  text-transform: uppercase;
}

.food-offer-subhead {
  font-weight: 300;
  letter-spacing: 5px;
}

.offer-btn {
  display: inline-block;
  text-decoration: none;
  color: #be2edd;
  background-color: #fff;
  padding: 10px 25px;
  margin-top: 15px;
  border-radius: 27px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.offer-btn:hover {
  background-color: #be2edd;
  color: #fff;
}

.menu {
  list-style-type: none;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #707070;
  line-height: 50px;
}

.menu-price {
  color: #be2edd;
}

.food-testimonial {
  width: 100%;
  height: 500px;
  background-image: url("../images/testimonial.png");
}

.testimonials {
  width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 60px 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

.testimonials-text {
  color: #444;
  line-height: 40px;
}

.food-contact {
  background-color: #222;
  color: #fff;
}

#footer {
  padding: 20px 0;
  background-color: #222;
  color: #fff;
}

#footer p {
  padding-top: 20px;
}

/**********************************************************
****    Responsive Area as following ------------------->>>
**********************************************************/
