$font-stack: 'Poppins',
sans-serif;
$brand-stack: 'Merienda',
cursive;

$primary-color: #be2edd;
$secondary-color: #4834d4;
$third-color: #95afc0;
$bg-color: #222;

$white-color: #fff;
$black-color: #000;

$greyish: #444;
$light-greish:#333;
$grey-color: #5a5a5a;